page-control {
    .selected {
        background-color: #CFD8DC !important;
        color:  black;
      }
    #parent {
        width:200px;
        height: 200px;
        background-color: red;        
    }
    #tv {        
        width: 150px; 
        background:white;
        cursor: move;
        position: absolute;
    }
}
