page-home {
    video, canvas{
        margin-left: 120px;
        margin-top: 40px;
        position: absolute;
    }
    .rect {
        border: 2px solid #a64ceb;
        left: -1000px;
        position: absolute;
        top: -1000px;
      }
}
