lines {
/* Note that when we use CSS rules to style SVG elements, only SVG attribute names
** —not regular CSS properties—should be used. This is confusing, because many properties share the same names
** in both CSS and SVG, but some do not.
*/
.line {
  fill: none;
  stroke: #5974ee;
  stroke-width: 2;
}

svg div {
    font: 10px sans-serif;
    // background-color: rgb(5, 23, 218);
    text-align: right;
    padding: 3px;
    margin: 1px;
    fill: white;  // for svg
  }

#dashboard {
    // width: auto;
    padding: 40px;
    border: 1px solid black;
  }

.axis path,
.axis line {
    stroke: rgb(119, 133, 117);
    shape-rendering: crispEdges;
}

.axis text {
    font-family: Optima, Futura, sans-serif;
    font-weight: bold;
    font-size: 14px;
    fill: teal;
}
// text {fill: gold;}
h3 {
  text-align: center;
  text-decoration-color: aquamarine;
}
}